<div class="table" layout="column">
	<div class="navbar">
		<div class="brand">{{headerText}}</div>
		<div class="pagination" layout="row">
			<p>{{lowerPage}} - {{upperPage}} of {{tableEntry.length}}</p>
			<div class="page-controls">
				<i class="material-icons" ng-disabled="!hasPreviousPage()"	ng-click="previousPage()">keyboard_arrow_left</i>
				<i class="material-icons" ng-disabled="!hasNextPage()"		ng-click="nextPage()">keyboard_arrow_right</i>
			</div>
			<md-input-contianer layout="row">
				<label>Display</label>
				<md-select ng-model="pageCount" ng-change="updatePages()">
					<md-option ng-repeat="page in pages" ng-value="page">{{page}}</md-option>
				</md-select>
			</md-input-contianer>
		</div>
	</div>
	<div class="table-header"></div>
	<table class="table-data" ng-cloak>
		<thead>
			<tr class="head" id="tableHeader">
				<th ng-repeat="header in tableData" class="headerRow noselect" ng-if="header.display == true" ng-mouseenter="options=true" ng-mouseleave="options=false" column-id="{{$index}}" ng-click="swapOrder($index)" ng-style="getWidth($index)">
					<div layout="row">
						<span ng-bind="header.friendly != null ? header.friendly : header.header"></span>
						<i class="material-icons desc" ng-cloak ng-show="sortIndex == $index || options">{{!sortDesc || (options && sortIndex != $index) ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</i>
						<div class="rightHandle" width-slider current-width="header.width" ng-click="stopProp($event)" ng-if="!$last"></div>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="value in tableEntry | limitTo:upperPage:lowerPage track by $index" class="body">
				<td ng-repeat="val in getEntry(value) track by $index" ng-if="tableData[$index].display == true" ng-style="getWidth($index)">
					<div ng-if="checkImage(val)">
						<img  ng-src="{{getLink(val)}}">
						<br />
					</div>
					<span ng-bind-html="formatValue(val, $index, $parent.$index)"></span>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="table-footer">
	</div>
</div>
